{% extends "/admin/adminlayout.html" %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}

        <!-- content section, too see what everyone has shared-->
        <section class="main-content920">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div id="main" style="width: 200%; margin: 10px auto;" >
                            <section id="content" >
                                <div class="question-type2033" >
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="right-description893">
                                                <a class="mr-2" href="#" style="color: black;font-size:24px;">{{ rewardrule.name }}</a>
                                                <br>
                                                <br>
                                                <a class="text-muted" style="color: black;font-size:24px;">{{ rewardrule.description }}</a>
                                                <br>
                                                <br>
                                                <img src="{{url_for('static', filename='gamification_reward/' + rewardrule.image_file)}}" alt="image" style="border-radius:50%; height:50px; width:50px;">
                                                <br>
                                                <br>
                                                {% if current_user.position == "Admin" %}
                                                    <a href="{{ url_for('rewardrule_update', pid=rewardrule.reward_id) }}" class="btn btn-secondary btn-sm" style="font-size: 18px;">Update</a>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmDelet">Delete</button>
                                                    <a href="{{url_for('gamification')}}"><button type="button" class="btn btn-secondary">Return</button></a>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="confirmDelet" tabindex="-1" role="dialog" aria-labelledby="confirmDeletLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmDeletLabel">Are you sure?</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <!-- need a form with submit -->
                                                                <form action="{{ url_for('rewardrule_delete', pid=rewardrule.reward_id) }}" method="POST">
                                                                    <input class="btn btn-danger" type="submit" value="Delete">
                                                                </form>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

{% endblock content %}


